<ion-header>
  <ion-toolbar mode="ios" color="success">

    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form>
    <ion-list>
      <ion-item>
        <ion-input label="Nome" label-placement="floating" fill="outline" placeholder="Escreva o seu Nome" type="text" name="nome">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input   label="Email" label-placement="floating" fill="outline" placeholder="Escreva o seu Email" type="text" name="email"></ion-input>
      </ion-item>

      
      <ion-item>
        <ion-input label="CPF" label-placement="floating" fill="outline" placeholder="Escreva o seu CPF" type="text" name="cpf">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Telefone" label-placement="floating" fill="outline" placeholder="Escreva o seu Telefone" type="text" name="telefone">
        </ion-input>
      </ion-item>

      

      <ion-item>
        <ion-input  label="Senha" label-placement="floating" fill="outline" placeholder="Escreva a sua senha" type="text" name="senha"></ion-input>
      </ion-item>

      
      
      <p style="margin-left:15px; font-size: 12px;">Já possui uma conta? <a routerLink="/logincliente" >Entre</a> </p>

    </ion-list>
    <br>
    <ion-button expand="full" color="success"  shape="round" class="btn btn-primary mt-3" type="submit"> CADASTRAR </ion-button>

    </form>
</ion-content>
