<ion-content mode="ios" [fullscreen]="true" color="success"> 
  <div style="height: 210px; background-color: #FBFFF1;">
    <img src="https://i.imgur.com/t6QBDUo.png"
      style="margin-top: -50px; width: 330px; position: relative; z-index: 2;">
  </div>     
    <div class="container">
      <svg viewBox="0 0 500 500"  preserveAspectRatio="xMinYMin meet" >
        <path id="wave" d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill: #FBFFF1;"></path>
      </svg>
    </div>

 

    <form #form="ngForm" (ngSubmit)="cadastro(form)" style="margin-top: -270px; width:95%; ">
  
        <ion-item color="success" style="margin-bottom: 1vh; position: relative; top: 2vh;">
          <ion-input fill="solid" placeholder="Nome" type="text" name="nome" required ngModel></ion-input>
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>
      
        <ion-item color="success" style="margin-bottom: 1vh; position: relative; top: 2vh;">
          <ion-input fill="solid" placeholder="CPF" type="text" name="cpf" required ngModel></ion-input>
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item color="success" style="margin-bottom: 1vh; position: relative; top: 2vh;">
          <ion-input fill="solid" placeholder="Telefone" type="text" name="telefone" required ngModel></ion-input>
          <ion-icon name="call-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item color="success" style="margin-bottom: 1vh; position: relative; top: 2vh;">
          <ion-input fill="solid" placeholder="chama@gmail.com" type="email" name="email" required ngModel></ion-input>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item color="success" style="margin-bottom: 1vh; position: relative; top: 1.5vh;">
          <ion-input fill="solid" placeholder="Senha" type="password" name="senha" required ngModel></ion-input>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-item>
        
        <ion-item color="success" style="position: relative; top: 2.5vh;">
          <ion-input fill="solid"type="file" name="img_documento" class="btnarquivo" (change)="handleImageUpload($event, form)"
          ngModel></ion-input>
          <ion-icon name="folder-outline" slot="start"></ion-icon>
        </ion-item>


        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
          
            <ion-button type="submit" fill="outline" class="botao" color="light" routerLink="/cadastro-um"> Cadastre-se</ion-button>
          </ion-col>
        </ion-row>
    </form>


   
  </ion-content>