<app-header [pageTitle]="pageTitle"></app-header>


<ion-content mode="ios" [fullscreen]="true">



<ion-card *ngFor="let dado of dadosDaTabela" class="card" >
  <img class="foto" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" >
  <ion-card-content>
   <h1 style="color: white;" > {{ dado.nome }} <!-- {{ service.nome }} --></h1>
   <div class="line"></div>
   <p style="position: relative; top: 1vh; color: white;">{{dado.nome_localidade}} <!-- {{ service.profissao }} --></p>
   <p style="position: relative; top: 1vh; color: white;">Número: {{dado.telefone}} <!-- {{ service.numero }} --></p>
   <p style="position: relative; top: 1vh; color: white;">Localidade: {{dado.nome_profissao}} <!-- {{ service.numero }} --></p>
   <div class="sociais" > <!-- *ngFor="let 'serviço' of 'Array' -->
   <a [href]="'https://www.instagram.com/' + dado.instagram"><ion-icon name="logo-instagram" color="tertiary"></ion-icon></a>
   <a [href]="'https://www.twitter.com/' + dado.facebook"> <ion-icon name="logo-twitter" color="secondary"></ion-icon></a>
  </div>
  <ion-button  class="sbm" shape='round' size="small" color="light" (click)="perfileditar()">Saiba Mais</ion-button>
  </ion-card-content>
</ion-card>






</ion-content>