select {
  background-color: #734458;
  color: #fff;
  padding: 8px;
  /* Adicione preenchimento interno */
  font-size: 16px;
  /* Tamanho da fonte */
  border: 1px solid #000000;
  /* Adicione uma borda */
  border-radius: 5px;
  /* Adicione borda arredondada */
  box-sizing: border-box;
  /* Inclua a borda e o preenchimento na largura total */
  margin-bottom: 10px;
  /* Adicione margem inferior para espaçamento */
  transition: background-color 0.3s ease;
  /* Adicione uma transição suave na mudança de cor */
}

/* Adicione estilos quando o select estiver focado */
select:focus {
  background-color: antiquewhite;
  color: #000000;
  outline: none;
  /* Remova a borda do foco padrão */
  border-color: #000000;
  /* Mude a cor da borda quando estiver focado */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  /* Adicione uma sombra suave */
}


.selectorprof{
  position: relative;
  top: 3vh;
  left: 35vh;
}
.p{
position: relative;
top: 1vh;
color: white;
}
.line{
  background-color: black;
  width: 25vh;
  height: 0.3vh;
}
.foto{ 
  margin-left: 10px;
  margin-top: 30px;
  width: 20vh;
  height: 25vh;
  border-radius: 2vh;
}
.card{
  display: flex;
  background-color: #734458;
   height: 35vh
   ; border-radius: 2vh;
}

.sociais{
  width:10vh;
  position: relative;
  top: 13vh;
  display: flex;
  justify-content:space-around;
}

.sbm{
  color: black;
  width: 11vh;
  height: 2vh !important;
  position: relative;
  top: 9.5vh;
  left: 13vh;
}


@media only screen and (min-width: 1024px) and (max-width: 1920px) {

  .card{
    float: left;
    margin-left: 30px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
   
   margin-top: 30px;
    background-color: #734458;
    height: 35vh;
    width: 30%;
    border-radius: 2vh;
    
  }
  .p{
    position: relative;
    top: 1vh;
    color: white;
    
    }

   .foto{ 
    width: 25vh;
    height: 25vh;
    border-radius: 2vh;
    margin-left: -30px;
  margin-top: 30px;
  }
  .h1{
    color: white;
    margin-top: -40px;
  }
  .line{
  background-color: black;
  width: 25vh;
  height: 0.3vh;
  
}

}