<ion-header >
  <ion-toolbar color="success" mode="ios">
    <ion-menu-toggle>
      <ion-button fill="clear">
        <ion-icon name="reorder-three-outline" color="light" contentId="main-content"></ion-icon>
      </ion-button> 
    </ion-menu-toggle>  
    <ion-title style="font-size: 25px;">{{pageTitle }}</ion-title>

    <img (click)="home()" src="https://i.imgur.com/t6QBDUo.png" style="width: 80px; float: right;">
  </ion-toolbar>
</ion-header>

<ion-menu  contentId="main-content" >
 
      
  <ion-item color="dark">
    <p>Ola</p>
    <ion-label> JORGE DA SILVA</ion-label>
    <ion-label *ngFor="let usuario of usuarios">{{usuario.nome}}</ion-label>
  </ion-item>



  <ion-content class="ion-padding" color="dark">
  
    

    <ion-item color="dark" (click)="home()" style="cursor: pointer;">
      Ínicio
    </ion-item >
    <ion-item color="dark" (click)="sobrenos()" style="cursor: pointer;">
      Sobre Nós
    </ion-item>

    <ion-item color="dark" (click)="planos()" style="cursor: pointer;">
      Planos
    </ion-item>

    <ion-item color="dark" (click)="perfileditar()" style="cursor: pointer;">
      Editar Perfil
    </ion-item>

    <ion-item color="dark" (click)="editar()" style="cursor: pointer;">
      Editar Anuncio
    </ion-item>

    <ion-item color="dark" >
     <ion-button color="danger" (click)="sair()" style="cursor: pointer;">SAIR </ion-button>
    </ion-item>
  
  
  
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
</div>