<ion-content mode="ios" [fullscreen]="true" color="success"> 
  <div class="ft">
    <img class="logo" src="https://i.imgur.com/t6QBDUo.png">
  </div>
    <div class="container">
      <svg viewBox="0 0 500 500"  preserveAspectRatio="xMinYMin meet" >
        <path id="wave" d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill: #FBFFF1;"></path>
      </svg>
    </div>
    
   
  
    <form class="form" #formUm="ngForm" (ngSubmit)="login(formUm)" >
      
        <ion-item class="itememail" color="success" >
  
  
          <ion-input class="input" fill="solid" placeholder="chama@gmail.com" type="email" name="email" ngModel></ion-input>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
  
        </ion-item>
  
      
  
      
        <ion-item class="item" color="success">
          <ion-input style="margin-bottom: 1vh; position: relative; top: 1.5vh;" fill="solid" fill="solid" placeholder="senha" type="password" name="senha" ngModel></ion-input>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-item>
      
  
      <ion-text style="margin-left:15px; margin-top: 30px; margin-bottom: 20px; position: relative; font-size:12px; text-decoration: underline; color: white" color="light" (click)="recupere()">Esqueci minha senha</ion-text>
  
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="botao1" color="light" routerLink="/home"> Login </ion-button>
    
          <ion-button type="submit" fill="outline" class="botao2" color="light" routerLink="/cadastro-um"> Cadastre-se</ion-button>
    
        </ion-col>
      </ion-row>
  
    </form>
    
  </ion-content>