<ion-content mode="ios" [fullscreen]="true" color="success"> 
  <div style="height: 210px; background-color: #FBFFF1;">
    <img src="https://i.imgur.com/t6QBDUo.png">
  </div>     
    <div class="container">
      <svg viewBox="0 0 500 500"  preserveAspectRatio="xMinYMin meet" >
        <path id="wave" d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill: #FBFFF1;"></path>
      </svg>
    </div>
   
  
    <form #formUm="ngForm" (ngSubmit)="login(formUm)" style="margin-top: -200px; width:95%;">
      
        <ion-item color="success">
  
  
          <ion-input fill="solid" placeholder="chama@gmail.com" type="email" name="email" ngModel></ion-input>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
  
        </ion-item>
  
      
  
      
        <ion-item color="success" style="margin-bottom: 20px;">
          <ion-input fill="solid" placeholder="senha" type="password" name="senha" ngModel></ion-input>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-item>
      
  
      <ion-text style="margin-left:15px; margin-top: 30px; margin-bottom: 20px; position: relative; font-size:12px; text-decoration: underline; color: white" color="light" (click)="recupere()">Esqueci minha senha</ion-text>
  
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button style="width: 70%; border-radius: 5px; margin-top: 20px;" color="light" routerLink="/home"> Login </ion-button>
    
          <ion-button type="submit" fill="outline" class="botao" color="light"> Cadastre-se</ion-button>
    
        </ion-col>
      </ion-row>
  
    </form>
    
  </ion-content>