ion-content{
    --overflow: hidden;
    
}

.botao{
    width: 70%; 
    background-color: #734458 ;
  
    color: white;
}

img {
  margin: auto;
  display: block;
}

#wave {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 240px;
  width: 100%;
  background: #FBFFF1;
  z-index: -1;
}
#wave::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 90%;
  width: 60%;
  height: 80px;
  background-color: #734458;
  right: -25px;
  top: 205px;
}
#wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 90%;
  width: 51%;
  height: 72px;
  background-color: #FBFFF1;
  left: -5px;
  top: 195px;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  
}
.container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  
}


//Animação--------------------------------------------------------------------------------------//
@keyframes waveAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Altere a altura desejada do movimento */
  }
  100% {
    transform: translateY(0);
  }
}

#wave {
  animation: waveAnimation 2s linear infinite; /* Altere a duração da animação, se necessário */
}