<ion-content [fullscreen]="true" color="success">
<img class="logo" src="https://i.imgur.com/t6QBDUo.png">


<h1 style=" font-size: 36px; font-weight: bolder; margin-left: 25px; margin-bottom: 0; margin-top: -20px;">Donna Encrenca</h1>
<p style=" font-weight: bolder; margin-left: 25px; margin-bottom: 0; margin-top: 0;">Contrate o que você precisa</p> 
<p style=" font-weight: bold; margin-left: 25px; margin-top: 0; margin-bottom: 0;">com segurança!</p>
<p style=" font-weight: bold; margin-left: 25px; margin-top: 0;">Rápido e Fácil!</p>

<ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
<ion-button color="light" routerLink="logincliente"> Login </ion-button>

<ion-button fill="outline" class="botao" color="light" routerLink="cadastro-um"> Cadastre-se</ion-button>


</ion-col>
</ion-row>
</ion-content>
