<app-header [pageTitle]="pageTitle"></app-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-avatar style="width: 23vh; height:25vh;display: block;margin: auto; margin-top: 1.5vh;" class="ion-text-center">
    <img alt="Silhueta da cabeça de uma pessoa" src="https://ionicframework.com/docs/img/demos/avatar.svg"
      class="perfil" />
  </ion-avatar>

  <div class="info">
    <div class="nomeinfo">
      <p style="display:block; margin:auto; font-weight: bold; font-size:large;">Gabi Pinho</p>
    </div>
    <div class="avaliarinfo">

      <ion-item class="avaliacao">
        <ion-label>Avaliação:</ion-label>
        <ion-icon name="star" (click)="rate(1)" [color]="currentRating >= 1 ? 'warning' : 'medium'"></ion-icon>
        <ion-icon name="star" (click)="rate(2)" [color]="currentRating >= 2 ? 'warning' : 'medium'"></ion-icon>
        <ion-icon name="star" (click)="rate(3)" [color]="currentRating >= 3 ? 'warning' : 'medium'"></ion-icon>
        <ion-icon name="star" (click)="rate(4)" [color]="currentRating >= 4 ? 'warning' : 'medium'"></ion-icon>
        <ion-icon name="star" (click)="rate(5)" [color]="currentRating >= 5 ? 'warning' : 'medium'"></ion-icon>
      </ion-item>



      <!--<ion-alert
  trigger="present-alert"
  header="Avaliação"
  [buttons]="alertButtons"
 ></ion-alert> -->
    </div>
  </div>

  <div class="infoDois">
    <div class="infop">
      <p style="font-size: small;">Eletricista</p>
      <p style="font-size: small; position: relative; bottom: 1.3vh;">Número: </p>
      <p style="font-size: small; position: relative; bottom: 2.5vh;">Localidade:</p>
    </div>

    <div class="sociais">
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
    </div>
  </div>



  <div class="caixatd">
    <div class="caixatx"></div>
    <div class="conteinerdc">
      <div class="bolha"></div>
      <div class="descricao">Descrição</div>
    </div>
    <div class="ol-eu-sou-gabi-pinho">
      Olá, eu sou Gabi Pinho, uma eletricista apaixonada pelo mundo da eletricidade. Desde
      criança, sempre me fascinei pelos circuitos e fios que fazem o mundo funcionar. Hoje, como
      eletricista profissional, tenho o privilégio de transformar essa paixão em minha carreira.
    </div>
  </div>


  <div class="footeraval">
    <ion-icon name="star" style="position:relative; top:0.3vh;left: 0.3vh;"></ion-icon>
    <h3 style="width: 30vh; display: inline; position: relative; left: 1vh; top: 0.2vh;">Avaliação dos clientes</h3>
    <h1 style="position: relative; width: 12vh; left: 5vh;">5.0/5</h1>
    <p style="width: 18vh; position: relative; bottom: 6.5vh; left: 20vh; font-size:x-small;">(Avaliações)</p>
    <div style="width: 20vh; position: relative; bottom: 8vh; left: 19.7vh;">
      <ion-icon name="star" style="width: 2.5vh; position:relative; top:0.3vh;left: 0.3vh;"></ion-icon>
      <ion-icon name="star" style="width: 2.5vh; position:relative; top:0.3vh;left: 0.3vh;"></ion-icon>
      <ion-icon name="star" style="width: 2.5vh; position:relative; top:0.3vh;left: 0.3vh;"></ion-icon>
      <ion-icon name="star" style="width: 2.5vh; position:relative; top:0.3vh;left: 0.3vh;"></ion-icon>
      <ion-icon name="star" style="width: 2.5vh; position:relative; top:0.3vh;left: 0.3vh;"></ion-icon>
    </div>
  </div>

  <ion-item-divider class="footerr">
    <ion-label> Comentários </ion-label>
  </ion-item-divider>


</ion-content>