<app-header [pageTitle]="pageTitle"></app-header>

<ion-content [fullscreen]="true" mode="ios">
    <ion-avatar style="width: 23vh; height:25vh;display: block;margin: auto; margin-top: 1.5vh;" class="ion-text-center" >
        <img alt="Silhueta da cabeça de uma pessoa" src="https://ionicframework.com/docs/img/demos/avatar.svg" class="perfil"/>
    </ion-avatar>
    
    <div class="info">
      <div class="nomeinfo">
      <p style="display:block;margin:auto;font-weight:bold; font-size:large;">Gabi Pinho</p>
    </div>
    <div class="avaliarinfo">
      <p style="font-size:x-small;text-decoration:underline;cursor: pointer;">Avaliar Profissional <ion-icon name="star" style="position:relative; top:0.3vh;left: 0.3vh;"></ion-icon></p> 
    </div>
  </div>

  <div class="infoDois">
    <div class="infop">
      <p style="font-size: small;">Eletricista</p>
      <p style="font-size: small; position: relative; bottom: 1.3vh;">Número: </p>
      <p style="font-size: small; position: relative; bottom: 2.5vh;">Localidade:</p> 
    </div>
    
    <div class="sociais">
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
    </div>  
  </div>
  

  <ion-card class="bordercard">
    <div class="carddescricao">
    <ion-card-header class="descricard">
      <ion-card-subtitle style="color: white;">Descrição</ion-card-subtitle>
    </ion-card-header>
  </div>

    <ion-card-content class="contentcard">
      Olá, eu sou Gabi Pinho, uma eletricista apaixonada pelo mundo da eletricidade. Desde criança, sempre me fascinei pelos circuitos e fios que fazem o mundo funcionar. Hoje, como eletricista profissional, tenho o privilégio de transformar essa paixão em minha carreira.
    </ion-card-content>
  </ion-card>

<div class="footeraval">
  <ion-icon name="star" style="position:relative; top:0.3vh;left: 0.3vh;"></ion-icon>
  <h3 style="width: 30vh; display: inline; position: relative; left: 1vh; top: 0.2vh;">Avaliação dos clientes</h3>
  <h1 style="position: relative; width: 12vh; left: 5vh;">5.0/5</h1>
  <p style="width: 18vh; position: relative; bottom: 6.5vh; left: 20vh; font-size:x-small;">(Avaliações)</p>
  <div style="width: 20vh; position: relative; bottom: 8vh; left: 19.7vh;">
  <ion-icon name="star" style="width: 2.5vh; position:relative; top:0.3vh;left: 0.3vh;"></ion-icon>
  <ion-icon name="star" style="width: 2.5vh; position:relative; top:0.3vh;left: 0.3vh;"></ion-icon>
  <ion-icon name="star" style="width: 2.5vh; position:relative; top:0.3vh;left: 0.3vh;"></ion-icon>
  <ion-icon name="star" style="width: 2.5vh; position:relative; top:0.3vh;left: 0.3vh;"></ion-icon>
  <ion-icon name="star" style="width: 2.5vh; position:relative; top:0.3vh;left: 0.3vh;"></ion-icon>
</div>
</div>

<ion-item-divider>
  <ion-label> Comentários </ion-label>
</ion-item-divider>
  

  
</ion-content>