<app-header [pageTitle]="pageTitle"></app-header>

<ion-content [fullscreen]="true" class="ion-text-center" style="background-color: antiquewhite;">
  <div class="caixa">
    <h1>Planos Mensal</h1>
    <div style="display: flex;">
      <h2>R$: 30,00<span style="font-size: 14px;">/mês</span></h2>
      <p></p>
    </div>
    <div>
      <div class="ben2">
        <p>
          <ion-icon name="checkmark-done-outline" style="color: green;"></ion-icon>
          <strong>Anunciar:</strong>
          Com o nosso plano mensal, você terá direito de anunciar o seu serviço na nossa plataforma
        </p>
      </div>
      <div class="ben2">
        <p>
          <ion-icon name="checkmark-done-outline" style="color: green;"></ion-icon>
          <strong>Destaque:</strong>
          Avaliações e depoimentos dos clientes em sua página de serviço.
        </p>
      </div>
    </div>
    <ion-button color="light" shape="round"><strong style="color: black;"> <a href="https://www.mercadopago.com.br/subscriptions/checkout?preapproval_plan_id=2c9380848b2a4548018b3d9e41220bc4" style="text-decoration: none; color: black;">Assinar </a></strong></ion-button>
  </div>

  <div class="caixa">
    <h1>Plano Trimestral</h1>
    <div style="display: flex;">
      <h2>R$: 75,00<span style="font-size: 14px;">/trimestre</span></h2>
      <p></p>
    </div>
    <div>
      <div class="ben2">
        <p>
          <ion-icon name="checkmark-done-outline" style="color: green;"></ion-icon>
          <strong>Anunciar:</strong>
          Com o nosso plano trimestral, você terá direito de anunciar o seu serviço na nossa plataforma.
        </p>
      </div>
      <div class="ben2">
        <p>
          <ion-icon name="checkmark-done-outline" style="color: green;"></ion-icon>
          <strong>Destaque:</strong>
          Avaliações e depoimentos dos clientes em sua página de serviço.
        </p>
      </div>
    </div>
    <ion-button color="light" shape="round"><strong style="color: black;"> <a href="https://www.mercadopago.com.br/subscriptions/checkout?preapproval_plan_id=2c9380848b2a4548018b3e1abd110c75" style="text-decoration: none; color: black;" > Assinar </a></strong></ion-button>
  </div>

  <div class="caixa">
    <h1>Plano Anual</h1>
    <div style="display: flex;">
      <h2>R$: 300,00<span style="font-size: 14px;">/ano</span></h2>
      <p></p>
    </div>
    <div>
      <div class="ben2">
        <p>
          <ion-icon name="checkmark-done-outline" style="color: green;"></ion-icon>
          <strong>Anunciar:</strong>
          Com o nosso plano anual, você terá direito de anunciar o seu serviço na nossa plataforma.
        </p>
      </div>
      <div class="ben2">
        <p>
          <ion-icon name="checkmark-done-outline" style="color: green;"></ion-icon>
          <strong>Destaque:</strong>
          Avaliações e depoimentos dos clientes em sua página de serviço.
        </p>
      </div>
    </div>
    <ion-button color="light" shape="round"><strong style="color: black;"> <a href="https://www.mercadopago.com.br/subscriptions/checkout?preapproval_plan_id=2c9380848b2a4565018b3e294a1a0c80" style="text-decoration: none; color: black;"> Assinar </a> </strong></ion-button>
  </div>
</ion-content>