<app-header [pageTitle]="pageTitle"></app-header>
<ion-content [fullscreen]="true" mode="ios">
    <ion-avatar style="width:115px;height:130px;display: block;margin: auto; margin-top: 10px;" class="ion-text-center" >
        <img alt="Silhueta da cabeça de uma pessoa" src="https://ionicframework.com/docs/img/demos/avatar.svg" class="perfil"/>
    </ion-avatar>
    
    <div class="info">
      <div class="nomeinfo">
      <p style="display:block;margin:auto;font-weight:bold; font-size:large;">Gabi Pinho</p>
    </div>
    <div class="avaliarinfo">
      <p style="font-size:x-small;text-decoration: underline">Avaliar Profissional <ion-icon name="star" style="position:relative; top:1px;left: 1px;"></ion-icon></p> 
    </div>
  </div>

  <div class="infoDois">
  <p>Eletricista:</p>
      <p>Número:</p>
      <p>Localidade:</p>
  </div>
</ion-content>