ion-content {
  --ion-background-color: #FBFFF1;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 92vw;
  height: 50vh;
  border-radius: 50%;
 
}

.info-container {
  background-color: #ffe4e4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  font-size: 4vw;
}

h2, h3 {
  color: #734458;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}
.icon {
  font-size: 30px; /* Ajuste o tamanho dos ícones conforme necessário */
  color: black; /* Muda a cor dos ícones para preto */
  margin-right: 40px; /* Adiciona margem à direita dos ícones para separá-los */
}

@media only screen and (min-width: 1024px) and (max-width: 1920px) {

 
  
.content-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.image-container img {
width: 32vw;
height: 50vh;
border-radius: 50%;
margin-top: -50px;
}
.info-container {
background-color: #ffe4e4;
border-radius: 10px;
padding: 20px;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
font-size: 20px;
width: 70%;
}
.icon {
font-size: 30px; /* Ajuste o tamanho dos ícones conforme necessário */
color: black; /* Muda a cor dos ícones para preto */

flex-direction: column;
align-items: center;
justify-content: center;
margin: 0;
float: left;
}
.social-icons{
font-size: 30px; /* Ajuste o tamanho dos ícones conforme necessário */
color: black; /* Muda a cor dos ícones para preto */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0;

}

}