<app-header [pageTitle]="pageTitle"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="content-container">
    <div class="image-container">
      <img  src="https://i.imgur.com/t6QBDUo.png" alt="Donna Encrenca">
    </div>
    <div class="info-container">
      <h2>Quem Somos?</h2>
      <p>
        Donna Encrenca é um aplicativo inovador criado para fortalecer a presença feminina no mercado de trabalho de
        serviços gerais. Este aplicativo permite que mulheres habilidosas ofereçam uma variedade de serviços básicos.
      </p>
      <h3>Vantagens:</h3>
      <ul>
        <li>As usuárias podem criar perfis profissionais detalhados, exibindo suas habilidades, experiência e
          disponibilidade.</li>
        <li>Pessoas em busca de profissionais de confiança para tarefas do dia a dia podem explorar esses perfis e
          contratar as candidatas ideais.</li>
        <li>O aplicativo também oferece recursos de verificação de documentos e avaliações para garantir segurança e
          confiabilidade.</li>
      </ul>
      <h3>Nosso Objetivo:</h3>
      <p>
        Donna Encrenca é uma plataforma inclusiva que empodera as mulheres a conquistar oportunidades de trabalho e
        oferece uma solução prática para encontrar profissionais competentes e confiáveis.
      </p>
      <h3>Nossas redes sociais:</h3>
      <div class="social-icons">
        <a  href="https://wa.me/5521969907092" target="_blank">
          <ion-icon name="logo-whatsapp" class="icon"></ion-icon>
        </a>
        <a href="https://www.instagram.com/SUA_CONTA_DO_INSTAGRAM" target="_blank">
          <ion-icon name="logo-instagram" class="icon"></ion-icon>
        </a>
        <a href="mailto:SEU_EMAIL@gmail.com" target="_blank">
          <ion-icon name="mail-outline" class="icon"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</ion-content>