<ion-content [fullscreen]="true" color="success" class="ion-text-center" style="font-family: 'Inter', sans-serif;">
  
  <div style="height: 180px; background-color: #FBFFF1;">
    <img src="https://i.imgur.com/t6QBDUo.png"
      style="margin-top: -50px; width: 330px; position: relative; z-index: 2;">
    </div>     
    <div class="container">
      <svg viewBox="0 0 500 500"  preserveAspectRatio="xMinYMin meet" >
        <path id="wave" d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill: #FBFFF1;"></path>
      </svg>
    </div>
  
    <div class="texto" style="width: 100%; padding-right: 10%; padding-left: 10% ">
  <h1 style="margin-top: -250px;">Comece já os trabalhos</h1>
  <p style="color: #fff;">Adicione o restante dos seus dados para começar a trabalhar já!</p>

  <ion-item color="success" lines="none" >
    <ion-icon name="accessibility-outline" slot="start" style="margin-right: 8px;"></ion-icon>
    <select name="profissao" id="profissao" >
      <option>Profissão</option>
      <option *ngFor="let profissao of minhasProfissoes">{{profissao.nome_profissao}}</option>

    </select>
  </ion-item>
  <hr style="background-color: black; width: 80vw;">

  <ion-item color="success" lines="none">
    <ion-icon name="location-outline" slot="start" style="margin-right: 8px;"></ion-icon>
    <select name="localidade" id="localidade">
      <option>Localidade</option>
      <option *ngFor="let local of meusLocais">{{local.nome_localidade}}</option>
    </select>
  </ion-item>
  <hr style="background-color: black; width: 80vw;">
</div>
  <ion-button style="width: 70%;" color="light">Pagamento</ion-button>
  <ion-button fill="outline" class="botao" color="light">Cancelar</ion-button>
</ion-content>