<app-header [pageTitle]="pageTitle"></app-header>

<ion-content mode="ios" color="success" [fullscreen]="true">
  <div style="height: 235px; background-color: #FBFFF1; margin-top: -20px;">
    <div class="avatar">
      <h1 style="color: black;">Adicionar Foto</h1>
      <ion-avatar style="width: 125px; height: 125px;">
        <img alt="Silhouette of a person's head"
          src="https://www.al.sp.gov.br/repositorio/deputadoPortal/fotos/20230315-170849-id=1649-PEQ.jpeg" />
      </ion-avatar>
      <ion-button color="success" style="width: 70%; border: solid 3px black; border-radius: 20px;"
        (click)="selectFile()"> <ion-icon name="cloud-upload-outline" style="margin-right: 10px;"></ion-icon>Carregar
        Imagem</ion-button>
      <input type="file" (change)="onFileSelected($event)" #fileInput style="display: none">
    </div>
    
    <div class="container">
      <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
        <path id="wave" d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill: #FBFFF1;"></path>
      </svg>


    </div>
  </div>

  <form #formredes="ngForm" (ngSubmit)="redes(formredes)">
  <div style="text-align: center;">
    <h1 style="margin-top: 30%;"> Opções de Contato </h1>

    <ion-item color="success" style="margin-bottom: 1vh; position: relative; top: 2vh;">
      <ion-input fill="solid" placeholder="instagram.com/senac" type="text" name="nome" required ngModel></ion-input>
      <ion-icon name="logo-instagram" class="icon" slot="start"></ion-icon>
    </ion-item>


    <ion-item color="success" style="margin-bottom: 1vh; position: relative; top: 2vh;">
      <ion-input fill="solid" placeholder="facebook.com/senac" type="text" name="nome" required ngModel></ion-input>
      <ion-icon name="logo-facebook" class="icon" slot="start"></ion-icon>
    </ion-item>



  </div>

  <div class="oii">
    <p style="margin-top: 5vh; text-align: left;">
        <ion-icon name="ellipsis-horizontal-circle-outline" style="font-size: 7vw; vertical-align: middle;"></ion-icon> Descrição:
    </p>
    <textarea placeholder="Digite a descrição" id="caixa" rows="10" cols="33" style="background-color: #734458; border: 5px solid black;"></textarea>

    <ion-button id="present-alert" style="width: 90vw;" color="light">Enviar</ion-button>

</div>
</form>

</ion-content>