.avatar {
    margin: auto;
    display: block;
    text-align: center;

}

ion-avatar {
    margin: 0 auto;
}

.carregar {
    margin: auto;
    display: block;
}

#caixa {
    width: 90vw;
    height: 80px;
    resize: none;
    background-color: #734458;
    border: 0.1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.oii {
    text-align: center;
    margin-top: 5vh;
}

.oii textarea {
    width: 90vw;
}


svg {
    display: inline-block;
    position: absolute;
    top: -5vh;
    left: 0;

}

.container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;

}